<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-4.2.xsd">


    <import resource="mysql-connection.xml"/>
    <import resource="dao.xml"/>
    <import resource="utils.xml"/>
    <!--<import resource="menu-loader.xml"/>-->

    <bean id="appMenu" class="consoleui.AppMenu">
        <constructor-arg ref="userService"/>
        <constructor-arg ref="eventService"/>
        <constructor-arg ref="utils"/>
    </bean>

    <bean id="theaterManagerApp" class="StartConsoleApp">
        <constructor-arg ref="appMenu"/>
    </bean>

    <!--Services-->
    <bean id="userService" class="services.impl.UserServiceImpl">
        <constructor-arg ref="userDao"/>
    </bean>
    <bean id="eventService" class="services.impl.EventServiceImpl">
        <constructor-arg ref="eventDao"/>
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>
    <bean id="auditoriumService" class="services.impl.AuditoriumServiceImpl">
        <constructor-arg ref="utils"/>
    </bean>
    <bean id="bookingService" class="services.impl.BookingServiceImpl">
        <constructor-arg ref="bookingDao"/>
        <constructor-arg ref="utils"/>
    </bean>
    <bean id="priceService" class="services.impl.PriceServiceImpl">
        <constructor-arg ref="bookingDao"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance" lazy-init="true"/>

</beans>